.sidebar-wrapper .sidebar-header img {
    height: 1.8rem;
}
html[data-bs-theme=dark] .sidebar-wrapper .sidebar-header img {
    height: 1.8rem;
}

.burger-btn {
    color: #FF5154;
}
html[data-bs-theme=dark] .burger-btn {
    color: #FF5154;
}

a {
    color: #fc6466;
}
a:hover {
    color: #e25255;
}
html[data-bs-theme="dark"] a {
    color: #fc6466;
}
html[data-bs-theme="dark"] a:hover {
    color: #e25255;
}

.h-card {
	box-shadow: 0 .125rem .25rem rgba(0, 0, 0, 0.15);
	// transition : box-shadow .2s !important;
	&:hover {
		background-color: #d6e6fd;
		box-shadow: 0 .125rem .70rem rgba(0, 0, 0, 0.25);
	}
}

/* auth */
#auth #auth-right {
    background: url(../images/logoD.png), linear-gradient(90deg, #ffd3d3, #f8f3f3);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
html[data-bs-theme="dark"] #auth #auth-right {
    background: url(../images/logoD.png), linear-gradient(90deg, #2c2424, #554848);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#auth #auth-left {
    padding: 5rem;
}
#auth #auth-left .auth-title {
    font-size: 3rem;
    margin-bottom: 1rem;
}
#auth #auth-left .auth-subtitle {
    font-size: 1.2rem;
    line-height: 1.8rem;
    color: #a8aebb;
}
#auth #auth-left .auth-logo {
    margin-bottom: 4rem;
}
#auth #auth-left .auth-logo img {
    height: 3rem;
}
@media screen and (max-width: 1399.9px) {
    #auth #auth-left {
        padding: 2rem;
    }
}
@media screen and (max-width: 767px) {
    #auth #auth-left {
        padding: 4rem;
    }
}
@media screen and (max-width: 576px) {
    #auth #auth-left {
        padding: 5rem 2rem;
    }
}