// light
$blue:  #435ebe #FF5154;
$body-bg: #f2f7ff #f8f3f3;
$headings-color:  #25396f #451A19;

// dark
$bg: #151521 #070505;
$btn-hov: #282839 #392828;
$panel: #1E1E2D #1b1919;
$icon: #7C8DB5 #b57c7c;
$text: #9899AC #ac9898;